<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Keralam-Pricing </title>
  <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
</head>
<body>

    <div class="wrapper">
        <div class="card">
            <h3>Free</h3>
            <h1> Free <span>/Month</span></h1>
            <p>current price Free /month  only for this platform  </p>
            <ul>
                <li><i class="fa-solid fa-square-check"></i> Use All In one AI</li>
                <li><i class="fa-solid fa-square-check"></i> AI Image Genaration</li>
                <li><i class="fa-solid fa-square-check"></i> AI Chat Boat</li>
                <li><i class="fa-solid fa-square-check"></i>  Text To speech</li>
                <li><i class="fa-solid fa-square-check"></i> AI Transalator</li>
            </ul>
         <a href="{{ url_for('Main') }}">Choose Plan</a>

        </div>

        <div class="card">
            <h3>Startor</h3>
            <h1> 99/- inr<span>/Month</span></h1>
            <p>current price 99/- inr /month  only for this platform</p>
            <ul>
               <li><i class="fa-solid fa-square-check"></i> Use All In one AI</li>
                <li><i class="fa-solid fa-square-check"></i> AI Image Genaration</li>
                <li><i class="fa-solid fa-square-check"></i> AI Chat Boat</li>
                <li><i class="fa-solid fa-square-check"></i>  Text To speech</li>
                <li><i class="fa-solid fa-square-check"></i> AI Transalator</li>
            </ul>
          <a href="https://cosmofeed.com/vp/65716b6dfae0ff0910e96dbd" target="_blank">Choose Plan</a>

        </div>


        <div class="card active">
            <h3>Popular</h3>
            <h1> 99/- inr <span>/Month</span></h1>
            <p>current price 99/- inr /month  only for this platform</p>
            <ul>
                <li><i class="fa-solid fa-square-check"></i> Use All In one AI</li>
                <li><i class="fa-solid fa-square-check"></i> AI Image Genaration</li>
                <li><i class="fa-solid fa-square-check"></i> AI Chat Boat</li>
                <li><i class="fa-solid fa-square-check"></i>  Text To speech</li>
                <li><i class="fa-solid fa-square-check"></i> AI Transalator</li>
            </ul>
            <a href="https://cosmofeed.com/vp/65716b6dfae0ff0910e96dbd">Choose Plan</a>

        </div>


        <div class="card">
            <h3>Premium</h3>
            <h1>99/- inr <span>/Month</span></h1>
            <p>current price 99/- inr /month  only for this platform</p>
            <ul>
                 <li><i class="fa-solid fa-square-check"></i> Use All In one AI</li>
                <li><i class="fa-solid fa-square-check"></i> AI Image Genaration</li>
                <li><i class="fa-solid fa-square-check"></i> AI Chat Boat</li>
                <li><i class="fa-solid fa-square-check"></i>  Text To speech</li>
                <li><i class="fa-solid fa-square-check"></i> AI Transalator</li>
            </ul>
            <a href="https://cosmofeed.com/vp/65716b6dfae0ff0910e96dbd">Choose Plan</a>

        </div>
    </div>

</body>
</html>